# Logs
logs
*.log

# Build output
dist/
dist-ssr/
build/

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Android/Kotlin Build
.gradle/
.kotlin/
build/
app/build/
